* {
  margin: 0;
  padding: 0;
  border: 0;
}

img, embed, object, video {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url("../images/wallpaper.png");
  margin: 2%;
}

h1 {
  text-align: right;
  margin-right: 3%;
}

.game-menu, .game_board {
  margin: 0 auto;
  max-width: 600px;

}
.game-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3% auto 0;
  padding: 0% 4% 0% 8%;


}

#game_board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fefff9;
  grid-gap: 2%;
  border-radius: 1.2%;
  padding: 4% 4% 10% 4%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.game_board_cell {
  background-color: #2a2d33;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back_side, .front_side, .matched, .game_board_cell {
  border-radius: 6%;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.back_side {
    opacity: 1;
}

 .front_side {
   background-color: #fff8c7;
   opacity: 1;
}

.matched {
  background-color: #c7f2de;
}
